#circle-xxlarge{
	bottom: unset;
	top: -61vh;
	left: -25vw;
	background: var(--primary-sky-blue-aa);
}
#content > .component.container{
	position: relative;
}

@media(max-width: 767px) {
	#circle-xxlarge {
		left: -75vw;
		width: 250vw;
		top: -45vh;
	}
	#content{
		overflow: hidden;
		position: relative;
	}
	.mt-250{
		margin-top: 25px;
	}
}
.card-company{
	margin-bottom: 110px;
}